<h2>Mon Panier</h2>

<p *ngIf="cartService.items().length === 0">Votre panier est vide.</p>

<div *ngFor="let item of cartService.items()" class="mb-3 p-3 border rounded">
  <div class="font-semibold">{{ item.product.name }}</div>
  <div class="text-sm text-gray-600">Prix : {{ item.product.price }} €</div>
  <div class="text-sm text-gray-600">Quantité : {{ item.quantity }}</div>
  <div class="text-sm font-medium">Sous-total : {{ item.product.price * item.quantity }} €</div>

  <div class="items-center ">
    <p-button label="-" (onClick)="decrease(item.product.id)" severity="warning"></p-button>
    <p-button label="+" (onClick)="increase(item.product.id)" severity="info"></p-button>
  </div>
</div>




<div *ngIf="cartService.items().length > 0" class="mt-4 text-lg font-semibold">
  Total : {{ cartService.totalPrice() }} €
</div>